<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>valdr Bean Validation demo application</display-name>

  <servlet>
    <servlet-name>valdr Bean Validation Servlet</servlet-name>
    <servlet-class>com.github.valdr.ValidationRulesServlet</servlet-class>
    <init-param>
      <param-name>modelPackages</param-name>
      <param-value>com.github.valdr.demo.model</param-value>
    </init-param>
    <init-param>
      <param-name>customAnnotationClassNames</param-name>
      <param-value>org.hibernate.validator.constraints.CreditCardNumber</param-value>
    </init-param>
    <init-param>
      <param-name>corsAllowOriginPattern</param-name>
      <param-value>*</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>valdr Bean Validation Servlet</servlet-name>
    <url-pattern>/validationRules</url-pattern>
  </servlet-mapping>
</web-app>